@import "tailwindcss";

:root {
  --my-pink: #F75590;
  --my-peach: #FCE4D8;
  --my-yellow: #FBD87F;
  --my-blue: #B5F8FE;
  --my-green: #10FFCB;
  --background: #FEEFE8;
  --foreground: #171717;
  --normal: #A8A77A;
	--fire: #EE8130;
	--water: #6390F0;
	--electric: #F7D02C;
	--grass: #7AC74C;
	--ice: #96D9D6;
	--fighting: #C22E28;
	--poison: #A33EA1;
	--ground: #E2BF65;
	--flying: #A98FF3;
	--psychic: #F95587;
	--bug: #A6B91A;
	--rock: #B6A136;
	--ghost: #735797;
	--dragon: #6F35FC;
	--dark: #705746;
	--steel: #B7B7CE;
	--fairy: #D685AD;
}

@theme {
  --color-my-pink: var(--my-pink);
  --color-my-peach: var(--my-peach);
  --color-my-yellow: var(--my-yellow);
  --color-my-blue: var(--my-blue);
  --color-my-green: var(--my-green);
  --font-jersey: var(--font-jersey), cursive;

  --color-background: var(--background);
  --color-foreground: var(--foreground); 
  
  --color-fire: var(--fire);
  --color-normal: var(--normal);
  --color-water: var(--water);
  --color-electric: var(--electric);
  --color-grass: var(--grass);
  --color-ice: var(--ice);
  --color-fighting: var(--fighting);
  --color-poison: var(--poison);
  --color-ground: var(--ground);
  --color-flying: var(--flying);
  --color-psychic: var(--psychic);
  --color-bug: var(--bug);
  --color-rock: var(--rock);
  --color-ghost: var(--ghost);
  --color-dragon: var(--dragon);
  --color-dark: var(--dragon);
  --color-steel: var(--steel);
  --color-fairy: var(--fairy);


  --background-image-pokedex-gradient: linear-gradient(0deg, #ffffff 46%, #B5F8FE 100%);

 }

@media (prefers-color-scheme: dark) {
  :root {
    --my-pink: #F75590;
    --my-peach: #FCE4D8;
    --my-yellow: #FBD87F;
    --my-blue: #B5F8FE;
    --my-green: #10FFCB;
    --background: #FEEFE8;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jersey);
}
